{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}


  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center dark-background">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">{{site_email| default:""}}</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>{{ site_phone| default:""}}</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="{{site_twitter| default:"#"}}"><i class="bi bi-twitter-x"></i></a>
          <a href="{{site_facebook| default:"#"}}"><i class="bi bi-facebook"></i></a>
          <a href="{{site_instagram| default:"#"}}"><i class="bi bi-instagram"></i></a>
          <a href="{{site_linkedin| default:"#"}}"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="{% url "main:index" %}" class="logo d-flex align-items-center">
          <img src="{% static "assets/img/logo.png" %}" alt="Wood Life" width="220" height="100">
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="{% url "main:index" %}" class="active">{% trans "Home" %}</a></li>
            <li><a href="{% url "main:rooms" %}">{% trans "Cottages" %}</a></li>
            <li><a href="{% url "main:amenities" %}">{% trans "Amenities" %}</a></li>
            <li><a href="{% url "main:location" %}">{% trans "Location" %}</a></li>
            <li class="dropdown"><a href="#"><span>{% trans "Info" %}</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="{% url "main:gallery" %}">{% trans "Gallery" %}</a></li>
                <li><a href="{% url "main:terms" %}">{% trans "Terms Page" %}</a></li>
                <li><a href="{% url "main:privacy" %}">{% trans "Privacy Page" %}</a></li>
              </ul>
            </li>
            <li><a href="{% url "main:contact" %}">{% trans "Contact" %}</a></li>

            {% include "includes/language_switch.html" %}

          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

      </div>

    </div>

  </header>