{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  {% trans "Gallery | Wood Life Cottages in Mykulychyn" %}
{% endblock %}

{% block content %}
    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{% trans "Gallery of Wood Life Cottages in Mykulychyn" %}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url "main:index" %}">{% trans "Home" %}</a></li>
            <li class="current">{% trans "Gallery" %}</li>
          </ol>
        </nav>
      </div>
    </div>
    <section id="gallery" class="gallery section  mt-5">
      <h2 class="text-center">{% trans "In the Carpathian Heart" %}</h2>
      {% if photo %}
      <div class="container mt-5" data-aos="fade-up" data-aos-delay="100">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
          <ul class="hotel-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">{% trans "All Photos" %}</li>
            <li data-filter=".filter-rooms">{% trans "Rooms" %}</li>
            <li data-filter=".filter-amenities">{% trans "Amenities" %}</li>
            <li data-filter=".filter-interior">{% trans "Interior" %}</li>
            <li data-filter=".filter-exterior">{% trans "Exterior" %}</li>
            <li data-filter=".filter-territory">{% trans "Territory" %}</li>
            <li data-filter=".filter-nature">{% trans "Nature" %}</li>
          </ul>
               
          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            {% for item in photo %}
            {% if item.img %}
            <div class="col-lg-4 col-md-6 gallery-item isotope-item filter-{{item.category}}">
              <div class="gallery-wrapper">
                <img src="{{ item.img.url }}" class="img-fluid" alt="{% if CURRENT_LANG == 'uk' %}{{ item.alt_uk }}{% else %}{{ item.alt_en }}{% endif %}">
                <div class="gallery-overlay">
                  <a href="{{ item.img.url }}" class="glightbox">
                    <i class="bi bi-eye"></i>
                  </a>
                </div>
              </div>
            </div>           
            {% endif %}
            {% endfor %}
          </div>
        </div>
        {% if has_more %}
        <div class="load-more-section text-center col-xl-2 col-lg-3 mt-4 mb-4">
          <a href="?limit={{ limit|add:9 }}"
            class="btn-load-more">
            <i class="bi bi-arrow-down-circle"></i>
            {% trans "Load More Photos" %}
          </a>
        </div>
        {% endif %}
      </div>
      {% else %}
      <p class="container">{% trans "We are going to show our photos soon. Sorry!" %}</p>
      {% endif %}
    </section>
{% endblock content %}

