{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANG %}

{% block content %}

    <div class="page-title light-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">{% trans "Inside the Cottage" %}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url "main:index" %}">{% trans "Home" %}</a></li>
            <li class="current">{% trans "Cottage" %}</li>
          </ol>
        </nav>
      </div>
    </div>
    <section id="room-details" class="room-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center mb-5">
          <div class="col-lg-7" data-aos="fade-right" data-aos-delay="200">
            <div class="room-header-image">
              {% with first_image=room.images.first %}
                {% if first_image %}
                    <img src="{{ first_image.image.url }}" alt="Suite Interior" class="img-fluid rounded">
                {% endif %}
              {% endwith %}
              <div class="room-badge">
                <span class="text-white">{{room.lable_capacity}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-5" data-aos="fade-left" data-aos-delay="300">
            <div class="room-header-content">
              <h1 class="room-title">{{ room.name }}</h1>
              <p class="room-tagline">{{room.sub_title}}</p>
              <div class="room-capacity mb-4">
                <div class="capacity-item">
                  <i class="bi bi-people"></i>
                  <span>{% trans "Up to" %} {{room.capacity}} {% trans "guests" %}</span>
                </div>
                <div class="capacity-item">
                  <i class="bi bi-grid"></i>
                  <span>{{room.square}} m2</span>
                </div>
                {% if room.has_generator %}
                <div class="capacity-item">
                  <i class="bi bi-battery-charging"></i>
                  <span>{% if CURRENT_LANG == 'uk' %}Генератор{% else %}{{ item.alt_en }}Generator{% endif %}</span>
                </div>
                {% endif %}
              </div>
              <div class="room-price">
                <span class="price-amount">{{ room.price|floatformat:0 }}</span>
                <span class="price-period">{% trans "per night" %}</span>
              </div>
              <a href="{% url 'booking:booking' room.slug %}" class="btn btn-book-now">{% trans "Book Now" %}</a>
            </div>
          </div>
        </div>

 
        <div class="room-gallery mb-5" data-aos="fade-up" data-aos-delay="200">
          <h3 class="section-subtitle mb-4">{% trans "A Closer Look" %}</h3>
          <div class="gallery-grid">
            <div class="gallery-main">
              {% for image in room.images.all %}
                {% if forloop.counter == 2 %}
                  <a href="{{ image.image.url }}" class="glightbox">
                    <img src="{{ image.image.url }}" alt="Suite Interior" class="img-fluid">
                  </a>
                {% endif %}
              {% endfor %}

            </div>
            <div class="gallery-thumbnails">
              {% for img in room.images.all %}
              <a href="{{img.image.url}}" class="glightbox">
                <img src="{{img.image.url}}" alt="Bedroom View" class="img-fluid">
              </a>              
              {% endfor %}
              </a>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <div class="room-description">
              <h3 class="section-subtitle">{% trans "Where Your Escape Begins" %}</h3>
              <p>{{room.description}}</p>
            </div>
          </div>
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
            <div class="highlight-box">
              <div class="highlight-icon">
                <i class="bi bi-star"></i>
              </div>
              <h4>{% trans "Guest's Experience" %}</h4>
              <p>"{{room.comment}}"</p>
              <div class="quote-author">
                <span>- {{room.comment_name}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="room-amenities mb-5" data-aos="fade-up" data-aos-delay="200">
          <h3 class="section-subtitle mb-4">{% trans "Everything You Need for a Comfortable Stay" %}</h3>
          <div class="row">
            {% for category, amenities in grouped_amenities.items %}
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="amenity-category">

                <h5>
                {% if category == "sleeping" %}{% trans "Sleeping" %}
                {% elif category == "technology" %}{% trans "Technology" %}
                {% elif category == "comfort" %}{% trans "Comfort" %}
                {% elif category == "bathroom" %}{% trans "Bathroom" %}
                {% endif %}
                </h5>

                 <ul>
                {% for amenity in amenities %}
                  <li>
                    <i class="{{ amenity.icon_class|default:'bi bi-check2' }}"></i>
                    {{ amenity.name }}
                  </li>
                {% endfor %}
                </ul>

              </div>
            </div>
            {% endfor %}
          </div>

        </div>

        <div class="room-tabs mb-5" data-aos="fade-up" data-aos-delay="200">
          <ul class="nav nav-tabs" id="room-detailsRoomTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="room-details-policies-tab" data-bs-toggle="tab" data-bs-target="#room-details-policies" type="button" role="tab">{% trans "Policies" %}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="room-details-services-tab" data-bs-toggle="tab" data-bs-target="#room-details-services" type="button" role="tab">{% trans "Services" %}</button>
            </li>
          </ul>
          <div class="tab-content" id="room-detailsRoomTabsContent">
            <div class="tab-pane fade show active" id="room-details-policies" role="tabpanel">
              <div class="tab-content-wrapper">
                <div class="row">
                  <div class="col-md-6">
                    <h6>{% trans "Check-in / Check-out" %}</h6>
                    <p>{% trans "Check-in: 13:00" %}<br>{% trans "Check-out: 12:00" %}</p>
                  </div>
                  <div class="col-md-6">
                    <h6>{% trans "Pets" %}</h6>
                    <p>{{room.pets}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="room-details-services" role="tabpanel">
              <div class="tab-content-wrapper">
                <div class="row">
                  <div class="col-md-6">
                    <h6>{% trans "Room Service" %}</h6>
                    <p>{% trans "Available 11:00 - 13:00 daily" %}</p>
                  </div>
                  <div class="col-md-6">
                    <h6>{% trans "Housekeeping" %}</h6>
                    <p>{{room.housekeeping}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

{% endblock content %}