{% load static %} 
{% load i18n %} 
{% for room in rooms %}
<div class="col-xl-5 col-lg-6 p-4">
  <div class="room-card"> 
    <div class="room-image">
      {% if room.main_image %}
      <img
        src="{{ room.main_image.url }}"
        alt="{% trans "Exterior of Wood Life cottage" %}"
        class="img-fluid"
      />
      {% endif %}
    </div>
    <div class="room-content">
      <div class="room-header">
        <h3>{{room.name}}</h3>
      </div>
      <p class="room-description">{{room.description|truncatechars:200 }}</p>
      <div class="room-amenities">
        <span><i class="bi bi-people"></i> {% trans "Up to" %} {{room.capacity}} {%trans "guests" %}</span>
        <span><i class="bi bi-grid"></i> {{room.square}} m2</span>
      </div>
      <div class="room-footer">
        <div class="room-price">
          <span class="price-from">{% trans "From" %}</span>
          <span class="price-amount">{{room.price|floatformat:0 }}</span>
          <span class="price-period">/ {% trans "night" %}</span>
        </div>
        <a href="{% url 'main:room' room.slug %}" class="btn-room-details">{% trans "View Details" %}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
