{% load static %}
{% load i18n %}


    {% if testimonials %}
    <section id="testimonials" class="testimonials section light-background">

      <div class="container section-title" data-aos="fade-up">
        <span class="description-title">{% trans "Testimonials" %}</span>
        <h2>{% trans "What Our Guests Say" %}</h2>
        <p>{% trans "The most valuable reward for us is the experience of our guests. Thank you for your trust, kind words, and unforgettable moments spent at Wood Life." %}</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="testimonials-wrapper">

          <div class="row g-4">

            {% for item in testimonials %}
         
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="testimonial-card">
                <div class="quote-mark">
                  <i class="bi bi-quote"></i>
                </div>
                <div class="testimonial-content">
                  <p>{{item.message}}</p>
                </div>
                <div class="testimonial-author">
                  <div class="author-info">
                    <h4>{{item.name}}</h4>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>

        </div>

      </div>

    </section>
    {% endif %}